In [283]:
import pandas as pd
import numpy as np
import matplotlib
import datetime

In [284]:
##Parameters
time = 60 * 3
year_from = 2017
year_to = 2017

In [285]:
gold = pd.read_csv("GC #F_1.csv")
gold.head()

         Date   Time   Open   High    Low  Close  Volume
0  03/13/2007  00:01  651.7  651.8  651.3  651.4      30
1  03/13/2007  00:02  651.5  651.5  651.5  651.5       2
2  03/13/2007  00:03  651.5  651.5  651.5  651.5       1
3  03/13/2007  00:04  651.5  651.5  651.5  651.5       5
4  03/13/2007  00:06  651.3  651.3  651.3  651.3       1

In [286]:
silver = pd.read_csv("SI #F_1.csv")
silver.head()

         Date   Time   Open   High     Low   Close  Volume
0  03/13/2007  00:01  13.07  13.07  13.070  13.070       5
1  03/13/2007  00:03  13.07  13.07  13.065  13.065       7
2  03/13/2007  00:05  13.06  13.06  13.060  13.060       4
3  03/13/2007  00:07  13.06  13.06  13.060  13.060       2
4  03/13/2007  00:08  13.07  13.07  13.070  13.070       1

In [287]:
gold['DT'] = pd.to_datetime(gold['Date'] + ' ' + gold['Time'])
cols2 = ['DT', 'Open', 'High', 'Low', 'Close', 'Volume']
gold = gold[cols2]
gold.columns = ['DT', 'Open.G', 'High.G', 'Low.G', 'Close.G', 'Volume.G']
gold.head()

                   DT  Open.G  High.G  Low.G  Close.G  Volume.G
0 2007-03-13 00:01:00   651.7   651.8  651.3    651.4        30
1 2007-03-13 00:02:00   651.5   651.5  651.5    651.5         2
2 2007-03-13 00:03:00   651.5   651.5  651.5    651.5         1
3 2007-03-13 00:04:00   651.5   651.5  651.5    651.5         5
4 2007-03-13 00:06:00   651.3   651.3  651.3    651.3         1

In [288]:
silver['DT'] = pd.to_datetime(silver['Date'] + ' ' + silver['Time'])
cols2 = ['DT', 'Open', 'High', 'Low', 'Close', 'Volume']
silver = silver[cols2]
silver.columns = ['DT', 'Open.S', 'High.S', 'Low.S', 'Close.S', 'Volume.S']
silver.head()

                   DT  Open.S  High.S   Low.S  Close.S  Volume.S
0 2007-03-13 00:01:00   13.07   13.07  13.070   13.070         5
1 2007-03-13 00:03:00   13.07   13.07  13.065   13.065         7
2 2007-03-13 00:05:00   13.06   13.06  13.060   13.060         4
3 2007-03-13 00:07:00   13.06   13.06  13.060   13.060         2
4 2007-03-13 00:08:00   13.07   13.07  13.070   13.070         1

In [289]:
dataP = pd.merge(gold, silver, on = "DT", how = 'inner')
dataP.head()

,DT,Open.G,High.G,Low.G,Close.G,Volume.G,Open.S,High.S,Low.S,Close.S,Volume.S
0,2007-03-13 00:01:00,651.7,651.8,651.3,651.4,30,13.070,13.070,13.070,13.070,5
1,2007-03-13 00:03:00,651.5,651.5,651.5,651.5,1,13.070,13.070,13.065,13.065,7
2,2007-03-13 00:11:00,651.5,651.5,651.5,651.5,3,13.065,13.065,13.065,13.065,2
3,2007-03-13 00:12:00,651.5,651.5,651.5,651.5,5,13.065,13.065,13.065,13.065,3
4,2007-03-13 00:23:00,651.8,651.8,651.8,651.8,1,13.070,13.070,13.070,13.070,1

In [290]:
dataP['ratio'] = round(dataP['Close.G'] / dataP['Close.S'], 3)
SMA = []
sd = []
z = []
for i in range(0,len(dataP)):
    if i <= time:
        SMA_now = 0
        sd_now = 0
        z_now = 0
    else:
        SMA_now = numpy.mean(dataP[(i-time):i]['ratio'])
        sd_now = numpy.std(dataP[(i-time):i]['ratio'])
        z_now = (dataP.iloc[i]['ratio'] - SMA_now) / sd_now
        
    SMA.append(round(SMA_now, 5))
    sd.append(round(sd_now, 5))
    z.append(round(z_now, 4))

print(z[(len(z)-10):len(z)])

[-1.6616, -2.4163, -2.1837, -3.3808, -2.5833, -2.6847, -2.5375, -2.0009, -1.9215, -1.5693]

In [291]:
SMA_array = np.asarray(SMA)
sd_array = np.asarray(sd)
z_array = np.asarray(z)

dataP['SMA'] = SMA_array
dataP['sd'] = sd_array
dataP['z'] = z_array

dataP.head()

,DT,Open.G,High.G,Low.G,Close.G,Volume.G,Open.S,High.S,Low.S,Close.S,Volume.S,ratio,SMA,sd,z
0,2007-03-13 00:01:00,651.7,651.8,651.3,651.4,30,13.070,13.070,13.070,13.070,5,49.839,0.0,0.0,0.0
1,2007-03-13 00:03:00,651.5,651.5,651.5,651.5,1,13.070,13.070,13.065,13.065,7,49.866,0.0,0.0,0.0
2,2007-03-13 00:11:00,651.5,651.5,651.5,651.5,3,13.065,13.065,13.065,13.065,2,49.866,0.0,0.0,0.0
3,2007-03-13 00:12:00,651.5,651.5,651.5,651.5,5,13.065,13.065,13.065,13.065,3,49.866,0.0,0.0,0.0
4,2007-03-13 00:23:00,651.8,651.8,651.8,651.8,1,13.070,13.070,13.070,13.070,1,49.870,0.0,0.0,0.0

In [338]:
##Backtesting
t = time + 1
c = 1
pos = 0
prime = 0
entryt = 0
entryz = 0
history = []
temp_history = []
# weekday Monday starts as 1

In [339]:
while t < 20000:
    OpenPnL = 0
    if (
    pos == 0 and
    dataP.iloc[t]['DT'].strftime("%H") <= 16 if dataP.iloc[t]['DT'].weekday() == 5 else t > 0
    ):
        if (dataP.iloc[t]['z'] < 2 and
            dataP.iloc[t]['z'] > 1.5 and
            dataP.iloc[(t-1)]['z'] > 2
        ):
            prime = -1
        elif (dataP.iloc[t]['z'] > -2 and
              dataP.iloc[t]['z'] < -1.5 and
              dataP.iloc[(t-1)]['z'] < -2
        ):
            prime = 1
    else: OpenPnL = 0
    
    if prime != 0:
        entrytime = dataP.iloc[t]['DT']
        exittime = 0
        vol_G = prime * 100 * 2
        entryprice_G = dataP.iloc[t]['Close.G']
        exitprice_G = 0
        vol_S = -prime * 5000 * 3
        entryprice_S = dataP.iloc[t]['Close.S']
        exitprice_S = 0
        profit = 0
        entryt = t
        
        pos = prime
        prime = 0
    elif (
        pos != 0 and
        t >= entryt + 1 and
        (
        OpenPnL < -3000 or t >= entryt + 30 or
        dataP.iloc[t]['z'] < 1 if pos == -1 else dataP.iloc[t]['z'] > -1
        )
    ):
        exittime = dataP.iloc[t]['DT']
        exitprice_G = dataP.iloc[t]['Close.G']
        exitprice_S = dataP.iloc[t]['Close.S']
        profit = vol_G * (exitprice_G - entryprice_G) + vol_S * (exitprice_S - entryprice_S)
        
        temp_history = [entrytime, exittime, vol_G, entryprice_G, exitprice_G, vol_S, entryprice_S, exitprice_S, profit]
        history.append(temp_history)
        
        c = c+1
        pos = 0
    
    t = t + 1

In [340]:
history_df = pd.DataFrame(history, columns = ['entry_time', 'exit_time', 'volume_gold', 'entry_gold', 'exit_gold',
                                             'volume_silver', 'entry_silver', 'exit_silver', 'Profit'])
gross = history_df['Profit'].sum()
print(gross)

46734.99999999991

In [311]:
PNL = []
for i in range(0,len(history_df)):
    
    pnlsum = history_df.sum([0:i]['Profit'])
    PNL.append(pnlsum)
    
history_df.head(20)

SyntaxError: invalid syntax (<ipython-input-311-de648796c1f5>, line 3)

In [341]:
history_df.head(20)

,entry_time,exit_time,volume_gold,entry_gold,exit_gold,volume_silver,entry_silver,exit_silver,Profit
0,2007-03-13 10:14:00,2007-03-13 10:42:00,-200,652.6,653.3,15000,13.025,13.035,10.0
1,2007-03-13 14:25:00,2007-03-13 14:27:00,-200,644.3,645.2,15000,12.830,12.880,570.0
2,2007-03-13 15:02:00,2007-03-13 15:05:00,200,645.3,643.6,-15000,12.895,12.840,485.0
3,2007-03-13 15:32:00,2007-03-13 15:35:00,200,644.6,644.5,-15000,12.880,12.870,130.0
4,2007-03-13 15:38:00,2007-03-13 15:55:00,200,644.0,643.9,-15000,12.870,12.855,205.0
5,2007-03-13 22:30:00,2007-03-13 22:52:00,-200,642.3,642.9,15000,12.785,12.810,255.0
6,2007-03-14 00:29:00,2007-03-14 00:47:00,-200,642.4,642.7,15000,12.755,12.780,315.0
7,2007-03-14 04:03:00,2007-03-14 04:06:00,-200,643.8,643.8,15000,12.750,12.775,375.0
8,2007-03-14 08:29:00,2007-03-14 08:30:00,200,641.5,641.4,-15000,12.765,12.745,280.0
9,2007-03-14 09:05:00,2007-03-14 09:08:00,200,643.1,642.8,-15000,12.825,12.800,315.0
10,2007-03-14 09:46:00,2007-03-14 09:52:00,200,645.0,644.0,-15000,12.900,12.850,550.0
11,2007-03-14 11:29:00,2007-03-14 11:33:00,200,644.0,643.8,-15000,12.885,12.860,335.0
12,2007-03-14 12:13:00,2007-03-14 12:16:00,-200,639.5,639.7,15000,12.735,12.750,185.0
13,2007-03-14 12:26:00,2007-03-14 12:27:00,-200,639.2,639.2,15000,12.725,12.745,300.0
14,2007-03-14 12:31:00,2007-03-14 12:33:00,-200,638.7,638.9,15000,12.705,12.730,335.0
15,2007-03-14 13:00:00,2007-03-14 13:04:00,-200,638.9,639.3,15000,12.700,12.725,295.0
16,2007-03-14 13:10:00,2007-03-14 13:12:00,-200,641.3,641.8,15000,12.745,12.770,275.0
17,2007-03-15 05:07:00,2007-03-15 05:23:00,200,647.5,647.4,-15000,13.010,12.990,280.0
18,2007-03-15 08:43:00,2007-03-15 08:45:00,200,645.5,645.7,-15000,12.990,12.980,190.0
19,2007-03-15 09:11:00,2007-03-15 09:13:00,200,646.5,646.6,-15000,13.010,13.000,170.0

In [332]:
dataP.iloc[675:750, :]

,DT,Open.G,High.G,Low.G,Close.G,Volume.G,Open.S,High.S,Low.S,Close.S,Volume.S,ratio,SMA,sd,z
675,2007-03-13 22:12:00,642.3,642.3,642.3,642.3,10,12.770,12.775,12.770,12.770,12,50.298,50.11674,0.05677,3.1927
676,2007-03-13 22:13:00,642.3,642.3,642.2,642.2,16,12.765,12.765,12.760,12.765,4,50.309,50.11783,0.05834,3.2769
677,2007-03-13 22:15:00,642.2,642.2,642.1,642.2,11,12.765,12.765,12.755,12.765,20,50.309,50.11876,0.06002,3.1699
678,2007-03-13 22:16:00,642.4,642.4,641.1,641.6,162,12.770,12.770,12.760,12.760,11,50.282,50.11998,0.06162,2.6295
679,2007-03-13 22:17:00,641.6,641.9,641.6,641.7,7,12.765,12.765,12.765,12.765,2,50.270,50.12101,0.06276,2.3742
680,2007-03-13 22:19:00,641.8,642.0,641.7,641.7,10,12.765,12.770,12.760,12.760,15,50.290,50.12188,0.06372,2.6383
681,2007-03-13 22:20:00,641.7,641.7,641.7,641.7,7,12.770,12.770,12.770,12.770,1,50.251,50.12326,0.06466,1.9756
682,2007-03-13 22:22:00,641.8,642.0,641.8,641.9,13,12.765,12.775,12.765,12.775,7,50.247,50.12450,0.06495,1.8860
683,2007-03-13 22:23:00,642.0,642.4,642.0,642.4,5,12.780,12.780,12.775,12.775,4,50.286,50.12548,0.06546,2.4523
684,2007-03-13 22:24:00,642.0,642.2,642.0,642.2,9,12.775,12.775,12.775,12.775,1,50.270,50.12679,0.06629,2.1603
685,2007-03-13 22:26:00,642.1,642.2,642.0,642.2,7,12.770,12.770,12.755,12.760,26,50.329,50.12769,0.06712,2.9991
686,2007-03-13 22:30:00,642.2,642.3,642.2,642.3,5,12.780,12.785,12.780,12.785,13,50.239,50.12908,0.06867,1.6007
687,2007-03-13 22:32:00,642.1,642.2,642.1,642.2,4,12.780,12.780,12.780,12.780,1,50.250,50.12985,0.06912,1.7383
688,2007-03-13 22:38:00,642.2,642.2,642.1,642.2,4,12.775,12.775,12.760,12.775,8,50.270,50.13061,0.06968,2.0004
689,2007-03-13 22:43:00,642.2,642.2,642.2,642.2,2,12.770,12.770,12.770,12.770,20,50.290,50.13146,0.07044,2.2507
690,2007-03-13 22:45:00,642.3,642.3,642.1,642.3,3,12.770,12.770,12.770,12.770,5,50.298,50.13221,0.07140,2.3222
691,2007-03-13 22:46:00,642.3,642.3,642.3,642.3,23,12.770,12.770,12.770,12.770,1,50.298,50.13299,0.07243,2.2781
692,2007-03-13 22:50:00,642.4,642.5,642.4,642.5,26,12.775,12.775,12.775,12.775,3,50.294,50.13378,0.07344,2.1815
693,2007-03-13 22:51:00,642.7,642.8,642.7,642.8,2,12.780,12.795,12.780,12.795,3,50.238,50.13488,0.07435,1.3870
694,2007-03-13 22:52:00,642.9,642.9,642.5,642.9,15,12.790,12.810,12.790,12.810,12,50.187,50.13542,0.07474,0.6901
695,2007-03-13 22:53:00,642.7,642.8,642.7,642.8,4,12.795,12.805,12.790,12.805,8,50.199,50.13521,0.07454,0.8559
696,2007-03-13 22:56:00,642.8,642.8,642.7,642.7,3,12.800,12.800,12.800,12.800,3,50.211,50.13512,0.07446,1.0191
697,2007-03-13 23:00:00,642.7,642.7,642.7,642.7,1,12.800,12.800,12.800,12.800,1,50.211,50.13511,0.07444,1.0195
698,2007-03-13 23:01:00,642.9,643.0,642.9,643.0,2,12.795,12.795,12.795,12.795,1,50.254,50.13507,0.07440,1.5986
699,2007-03-13 23:17:00,642.7,642.7,642.6,642.6,4,12.785,12.785,12.785,12.785,1,50.262,50.13531,0.07472,1.6956
700,2007-03-13 23:18:00,642.8,642.8,642.8,642.8,1,12.785,12.785,12.775,12.775,4,50.317,50.13547,0.07495,2.4221
701,2007-03-13 23:23:00,642.8,642.8,642.6,642.6,11,12.775,12.775,12.770,12.770,8,50.321,50.13602,0.07591,2.4369
702,2007-03-13 23:24:00,642.6,642.6,642.6,642.6,2,12.765,12.765,12.765,12.765,2,50.341,50.13674,0.07704,2.6514
703,2007-03-13 23:25:00,642.6,642.6,642.6,642.6,1,12.765,12.765,12.760,12.760,11,50.361,50.13812,0.07845,2.8411
704,2007-03-13 23:29:00,642.5,642.5,642.5,642.5,1,12.765,12.765,12.765,12.765,4,50.333,50.13993,0.07980,2.4195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,2007-03-14 00:18:00,642.1,642.2,642.1,642.2,7,12.730,12.730,12.730,12.730,2,50.448,50.16744,0.10150,2.7640
721,2007-03-14 00:22:00,642.3,642.3,642.3,642.3,7,12.735,12.735,12.735,12.735,1,50.436,50.16918,0.10360,2.5756
722,2007-03-14 00:27:00,642.4,642.4,642.3,642.3,4,12.745,12.745,12.745,12.745,1,50.396,50.17106,0.10533,2.1355
723,2007-03-14 00:29:00,642.4,642.4,642.4,642.4,1,12.755,12.755,12.755,12.755,2,50.365,50.17283,0.10642,1.8058
724,2007-03-14 00:30:00,642.4,642.4,642.4,642.4,9,12.760,12.770,12.760,12.770,9,50.305,50.17434,0.10720,1.2188
725,2007-03-14 00:31:00,642.4,642.5,642.4,642.5,23,12.765,12.765,12.765,12.765,5,50.333,50.17552,0.10747,1.4654
726,2007-03-14 00:32:00,642.6,642.6,642.6,642.6,3,12.765,12.775,12.765,12.770,9,50.321,50.17681,0.10796,1.3357
727,2007-03-14 00:34:00,642.7,642.8,642.7,642.7,5,12.770,12.770,12.770,12.770,1,50.329,50.17818,0.10821,1.3938
728,2007-03-14 00:36:00,642.5,642.5,642.5,642.5,5,12.760,12.760,12.760,12.760,1,50.353,50.17966,0.10844,1.5985
729,2007-03-14 00:37:00,642.6,642.6,642.6,642.6,1,12.755,12.755,12.750,12.750,5,50.400,50.18162,0.10836,2.0153
730,2007-03-14 00:47:00,642.7,642.7,642.7,642.7,1,12.780,12.780,12.780,12.780,21,50.290,50.18361,0.10907,0.9755
731,2007-03-14 00:48:00,642.7,642.8,642.7,642.8,24,12.775,12.775,12.775,12.775,1,50.317,50.18489,0.10895,1.2125
732,2007-03-14 00:51:00,642.7,642.7,642.7,642.7,2,12.775,12.775,12.775,12.775,2,50.309,50.18657,0.10865,1.1268
733,2007-03-14 00:56:00,642.8,642.8,642.8,642.8,2,12.775,12.775,12.775,12.775,2,50.317,50.18759,0.10894,1.1880
734,2007-03-14 00:57:00,642.8,642.8,642.8,642.8,1,12.775,12.775,12.775,12.775,1,50.317,50.18885,0.10911,1.1745
735,2007-03-14 00:59:00,642.9,642.9,642.7,642.8,5,12.775,12.775,12.770,12.770,2,50.337,50.19001,0.10936,1.3441
736,2007-03-14 01:02:00,642.6,642.6,642.6,642.6,2,12.765,12.765,12.765,12.765,10,50.341,50.19162,0.10938,1.3657
737,2007-03-14 01:07:00,642.5,642.5,642.5,642.5,7,12.755,12.755,12.755,12.755,1,50.372,50.19293,0.10975,1.6317
738,2007-03-14 01:09:00,642.4,642.5,642.4,642.5,5,12.760,12.760,12.760,12.760,1,50.353,50.19430,0.11043,1.4371
739,2007-03-14 01:11:00,642.8,642.8,642.8,642.8,5,12.760,12.760,12.760,12.760,1,50.376,50.19561,0.11091,1.6265
740,2007-03-14 01:14:00,642.8,642.8,642.8,642.8,1,12.760,12.760,12.760,12.760,1,50.376,50.19675,0.11170,1.6048
741,2007-03-14 01:18:00,642.8,642.8,642.8,642.8,1,12.765,12.765,12.765,12.765,1,50.356,50.19789,0.11247,1.4058
742,2007-03-14 01:20:00,642.8,642.9,642.7,642.9,11,12.765,12.765,12.760,12.760,8,50.384,50.19907,0.11301,1.6365
743,2007-03-14 01:26:00,642.7,642.8,642.6,642.8,6,12.765,12.765,12.750,12.750,5,50.416,50.20033,0.11379,1.8952
744,2007-03-14 01:43:00,643.0,643.0,643.0,643.0,22,12.780,12.780,12.780,12.780,5,50.313,50.20191,0.11480,0.9677
745,2007-03-14 01:44:00,643.0,643.0,643.0,643.0,1,12.780,12.780,12.780,12.780,2,50.313,50.20307,0.11487,0.9571
746,2007-03-14 01:48:00,643.1,643.1,643.1,643.1,3,12.785,12.785,12.785,12.785,1,50.301,50.20416,0.11497,0.8423
747,2007-03-14 01:49:00,643.2,643.5,643.2,643.2,35,12.785,12.785,12.785,12.785,3,50.309,50.20524,0.11496,0.9026
748,2007-03-14 02:04:00,642.9,643.0,642.8,643.0,4,12.770,12.770,12.770,12.770,1,50.352,50.20623,0.11508,1.2667
749,2007-03-14 02:05:00,643.0,643.0,643.0,643.0,3,12.780,12.780,12.780,12.780,3,50.313,50.20753,0.11540,0.9140

In [303]:
history_df.to_csv('historyP.csv')

In [241]:
df = pd.DataFrame(history, columns = ['ET', 'XT', 'VG', 'EG', 'XG', 'VS', 'ES', 'XS', 'Profit'])
print(df)

                   ET  XT  VG     EG  XG  VS      ES  XS  Profit
0 2007-03-13 08:42:00   0   0  649.7   0   0  12.985   0       0
1 2007-03-13 08:43:00   0   0  649.8   0   0  12.990   0       0

In [253]:
if dataP.iloc[t]['DT'].weekday() == 5:
    dataP.iloc[t]['DT'].strftime("%H") <= 16
else:
    temp = 0
print(temp)

0

In [324]:
dataP[(i-time):i]['ratio']

320    50.138
321    50.173
322    50.146
323    50.058
324    49.996
325    50.031
326    50.015
327    49.977
328    50.004
329    50.023
330    50.019
331    50.019
332    50.023
333    50.019
334    50.035
335    50.108
336    50.100
337    50.138
338    50.127
339    50.115
340    50.131
341    50.111
342    50.131
343    50.142
344    50.131
345    50.119
346    50.088
347    50.131
348    50.162
349    50.139
        ...
470    50.147
471    50.186
472    50.178
473    50.151
474    50.155
475    50.155
476    50.143
477    50.155
478    50.170
479    50.147
480    50.132
481    50.128
482    50.182
483    50.159
484    50.147
485    50.174
486    50.171
487    50.186
488    50.112
489    50.120
490    50.112
491    50.124
492    50.136
493    50.124
494    50.128
495    50.101
496    50.143
497    50.089
498    50.097
499    50.112
Name: ratio, Length: 180, dtype: float64